<!-- Loader -->
@if (isLoading) {  
  <app-loader [text]="loaderText"></app-loader>

} @else {
  <!-- Resumen -->
  @if (!showingDetails;) {
    <div class="w-full sm:w-xl h-auto bg-[var(--flame)] p-4 border border-[var(--jet)]/50 rounded-lg shadow-3d cursor-default text-center text-white">
      <h5 class="text-xl md:text-2xl font-medium text-center tracking-wider text-shadow-3d mb-4 pb-2 border-b-2 border-dashed">Resumen</h5>
      
      <div class="general-score w-full relative grid grid-cols-2 gap-2 sm:gap-4 justify-center items-center">
        <div class="h-40 flex flex-col ">          
          <p class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2">
            Correctas<span class="emoji text-base text-[#1B5E20]">✅</span>
          </p>
          <span class="flex-grow flex items-center justify-center bg-white rounded-lg text-3xl md:text-4xl font-black text-[#1B5E20] shadow-lg py-3 px-4 border border-b-4 border-[var(--jet-dark)]">{{ totalCorrectAnswers }}</span>
        </div>

        <div class="h-40 flex flex-col">         
          <p class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2">
            Incorrectas<span class="emoji text-base text-[#8B0000]">❌</span>
          </p>
          <span class="flex-grow flex items-center justify-center bg-white rounded-lg text-3xl md:text-4xl font-black text-[#8B0000] shadow-lg py-3 px-4 border border-b-4 border-[var(--jet-dark)]">{{ totalWrongAnswers }}</span>
        </div>
      </div>
      
      <button (click)="showingDetails = true" type="submit" class="flex justify-center items-center gap-3 mx-auto w-full md:w-1/2 bg-[var(--jet)] hover:bg-[var(--jet-light)] text-sm md:text-base font-medium py-3 px-4 mt-4 sm:mt-6 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
        Ver respuestas <i class="fa-solid fa-rectangle-list one-time-animation" [ngClass]="mouseEnter ? 'fa-jello' : ''"></i>
      </button>
      <p class="w-full flex items-center justify-center gap-2 text-xs font-medium text-center tracking-wider text-white mt-6 md:mt-8">
        Volver al <a (click)="showConfirmModal()" class="text-[var(--oceanic-teal)] font-bold hover:underline cursor-pointer" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">inicio</a><span class="emoji relative text-[10px] one-time-animation" [ngClass]="mouseEnter ? 'fa-jello' : ''">◀️</span>
      </p>
    </div>
  }
}

<!-- Detalles -->
@if (showingDetails) {
  <div class="w-full lg:w-3xl bg-[var(--flame)] p-4 border border-[var(--jet)]/50 rounded-lg shadow-3d cursor-default text-white text-center">
    <h5 class="text-xl md:text-2xl font-medium text-center tracking-wider text-shadow-3d mb-4 pb-2 border-b-2 border-dashed">Tus respuestas</h5>
    
    <div class="relative overflow-hidden">
      <div class="relative h-auto flex items-center justify-center">
        @for (q of userScore; track $index) {
          @if ($index === activeSlide) {
            <div class="w-full">
              <p class="w-full text-lg/7 md:text-2xl/8 font-bold tracking-wide text-shadow-3d" 
                [innerHTML]="'<span class=\'inline-flex items-center justify-center bg-[var(--jet)] text-white rounded-l-lg px-3 py-1 text-lg md:text-xl\'>' + ($index + 1) + '.</span> ' + q.question + ' <span class=\'emoji inline-flex items-center text-base md:text-xl text-shadow-3d\'>🤔</span>'">
              </p>
              
              <div class="grid grid-cols-2 gap-2 sm:gap-4 justify-center mt-6 mb-3">
                <div class="flex flex-col">
                  <label class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2" for="answer">
                    <span class="emoji text-base text-shadow-3d">👉</span>Seleccionada
                  </label>
                  <p id="answer" class="min-h-16 md:min-h-18 flex items-center justify-center text-xs sm:text-sm font-medium text-[var(--jet)] bg-white shadow-lg py-3 px-4 border-b-4 border-[var(--jet)] rounded-lg" [innerHTML]="q.selectedAnswer" [ngClass]="q.selectedAnswer === q.correctAnswer ? 'border-[#2e7d32]' : 'border-[#b71c1c]'"></p>
                </div>

                <div class="flex flex-col">
                  <label class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2" for="correct">
                    <span class="emoji text-base text-shadow-3d">🎯</span>Correcta
                  </label>
                  <p id="correct" class="min-h-16 md:min-h-18 flex items-center justify-center text-xs sm:text-sm font-medium text-[var(--jet)] bg-white shadow-lg py-3 px-4 border-b-4 border-[var(--jet)] rounded-lg" [innerHTML]="q.correctAnswer"></p>
                </div>
              </div>

              <p class="w-full flex justify-center items-center gap-3 mt-4 text-xs md:text-sm text-[var(--chinese-silver)] font-medium tracking-wider">
                {{ q.result ? 'Correcta' : 'Incorrecta' }}<span class="text-xs text-shadow-3d" [textContent]="q.result ? '✅' : '❌'"></span>
              </p>             
            </div>
          }
        }
      </div>

      <div class="flex justify-center sm:justify-between items-center gap-4 sm:gap-0 mt-6 mb-2">
        <button (click)="prevSlide()" class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--jet)] hover:bg-[var(--jet-light)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
          <i class="fa-solid fa-angle-left one-time-animation text-sm" [ngClass]="mouseEnter ? 'fa-jello' : ''"></i>Anterior
        </button>

        <div class="hidden sm:flex justify-center items-center flex-wrap gap-3 mx-2 md:mx-4">
          @for (q of userScore; track $index) {
            <button class="w-2.5 md:w-3 h-2.5 md:h-3 rounded-full drop-3d cursor-pointer transition-all duration-200" [ngClass]="$index === activeSlide ? 'bg-[var(--jet)] hover:bg-[var(--jet-light)]' : 'bg-white hover:bg-[var(--dark-silver)]'" (click)="activeSlide = $index"></button>
          }
        </div>

        <button (click)="nextSlide()" class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--jet)] hover:bg-[var(--jet-light)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
          Siguiente<i class="fa-solid fa-angle-right one-time-animation text-sm" [ngClass]="mouseEnter ? 'fa-jello' : ''"></i>
        </button>
      </div>
    </div>

    <button (click)="showingDetails = false" type="submit" class="flex justify-center items-center gap-3 mx-auto w-full sm:w-auto bg-[var(--jet)] hover:bg-[var(--jet-light)] text-sm md:text-base font-medium py-3 px-4 mt-4 sm:mt-6 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
      Volver al resumen<i class="fa-solid fa-table-columns one-time-animation" [ngClass]="mouseEnter ? 'fa-jello' : ''"></i>
    </button>
    <p class="w-full flex items-center justify-center gap-2 text-xs font-medium text-center tracking-wider text-white mt-6 md:mt-8">
      Volver al <a (click)="showConfirmModal()" class="text-[var(--oceanic-teal)] font-bold hover:underline cursor-pointer" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">inicio</a><span class="emoji relative text-[10px] one-time-animation" [ngClass]="mouseEnter ? 'fa-jello' : ''">◀️</span>
    </p>
  </div>
}