@if(!isLoading) {
  @if (!isLastQuestion) {
    <div class="w-full lg:w-3xl relative p-4 bg-[var(--flame)] border border-[var(--jet)]/50 rounded-lg shadow-3d cursor-default text-center text-white">
      <p class="w-full text-lg/7 md:text-2xl/8 font-bold tracking-wide text-shadow-3d mb-3" 
        [innerHTML]="indivQuestion.question + '<span class=\'inline-flex items-center ml-2 text-base md:text-xl text-shadow-3d\'>🤔</span>'">
      </p>

      <div class="w-full h-full flex justify-center items-center py-1 gap-4">
        <p class="text-sm text-[var(--chinese-silver)]">{{ indivQuestion.category }}</p>
        <div class="flex gap-1">
          @for (star of [1, 2, 3]; track $index) { <!--? [1, 2, 3] representa las 3 dificultades  -->
            <i class="fa-star text-sm" [ngClass]="$index < difficultyIcon(indivQuestion.difficulty) ? 'fa-solid text-[#FFD700]' : 'fa-regular text-[var(--chinese-silver)]'"></i>
          }
        </div>
      </div>

      <p class="text-lg md:text-xl font-bold tracking-wide text-shadow-3d py-2 my-2 border-t-2 border-dashed">¿Cuál es la respuesta correcta?</p>
      <div class="grid grid-cols-2 gap-2 md:gap-3 justify-center">
        @for (answer of shuffleAnswers; track $index) {
          <button (click)="onAnswerSelected(answer)" [disabled]="alreadyAnswered(questionIndex)"class="min-h-16 md:min-h-18 flex items-center justify-center text-xs sm:text-sm font-medium text-[var(--jet)] bg-white hover:bg-[var(--dark-silver)] shadow-lg py-3 px-4 border-b-4 border-[var(--jet)] hover:border-white rounded-lg cursor-pointer disabled:bg-gray-200 hover:disabled:bg-gray-200 disabled:text-gray-500 disabled:cursor-default transition-all duration-200" 
            [ngClass]=" alreadyAnswered(questionIndex) ? (answer === indivQuestion.correct_answer ? '!bg-gray-200 !shadow-none disabled:!border-[#1B5E20]' : '!bg-gray-200 !shadow-none disabled:!border-[#8B0000]') : ''" [innerHTML]="answer"></button>
        }
      </div>

      <div class="flex justify-center flex-wrap py-3 gap-x-4 md:gap-x-8 gap-y-2">
        <p class="w-full flex justify-center items-center gap-3 mb-3 mt-1 text-xs md:text-sm text-[var(--chinese-silver)] tracking-widest" [ngClass]="alreadyAnswered(questionIndex) ? 'visible' : 'invisible'">Respondida<i class="fa-solid fa-circle-check text-xs"></i></p>
        <button (click)="prevQuestion()" [disabled]="questionIndex === 0" [ngClass]="prevAnswered ? '!bg-white text-[var(--jet)] hover:!bg-[var(--jet-light)] hover:!text-white !border-[var(--jet)] hover:!border-white' : ''" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false"
          class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--jet)] hover:bg-[var(--jet-light)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] disabled:!bg-[var(--chinese-silver)] hover:disabled:!bg-[var(--chinese-silver)] disabled:!text-[var(--jet)] disabled:!border-[var(--jet-dark)] disabled:cursor-not-allowed rounded-lg cursor-pointer transition-all duration-200">
            <i class="fa-solid fa-angle-left one-time-animation text-sm" [ngClass]="mouseEnter && questionIndex > 0 ? 'fa-jello' : ''"></i>Anterior
        </button>

        <button (click)="nextQuestion()" [disabled]="questionIndex === questions$.results.length - 1" [ngClass]="nextAnswered ? '!bg-white text-[var(--jet)] hover:!bg-[var(--jet-light)] hover:!text-white !border-[var(--jet)] hover:!border-white' : ''" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false"
          class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--jet)] hover:bg-[var(--jet-light)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] disabled:!bg-[var(--chinese-silver)] hover:disabled:!bg-[var(--chinese-silver)] disabled:!text-[var(--jet)] disabled:!border-[var(--jet-dark)] disabled:cursor-not-allowed rounded-lg cursor-pointer transition-all duration-200">
            Siguiente<i class="fa-solid fa-angle-right one-time-animation text-sm" [ngClass]="mouseEnter && questionIndex < questions$.results.length - 1 ? 'fa-jello' : ''"></i>
        </button>
      </div>

      <div class="mt-2 sm:mt-0">
        <div class="flex items-center justify-between mb-2 md:mb-4">
          <a class="emoji group text-xs md:text-sm text-shadow-3d cursor-pointer" (click)="showConfirmModal()">
            Salir 🚪<span class="emoji inline-block group-hover:-translate-x-3.5 transition-all duration-500 ease-in-out">🏃‍♂️</span>
          </a>
          <p class="text-xs md:text-sm text-[var(--chinese-silver)]">Pregunta <span class="font-black text-white">{{ questionIndex + 1}}</span> de <span class="font-black text-white">{{ questions$.results.length }}</span></p>
        </div>

        <div class="w-full h-1 bg-white/25 rounded-full overflow-hidden">
          <div class="h-full bg-[var(--hunter-green-dark)]/80 rounded-full transition-all duration-500 ease-out" [style.width.%]="progressBar"></div>
        </div>
      </div>   
    </div>
  }  

} @else {  
  <app-loader [text]="loaderText"></app-loader>
}