@if (isVisible) {
  <div id="modal" class="fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-screen bg-black/30 backdrop-blur-md cursor-default">
    <div class="p-4 w-full max-w-xl">
      <div class="relative bg-[var(--flame)] text-white border border-[var(--jet)]/50 rounded-lg shadow-3d">
        
        <div class="p-4 text-center">
          <button class="group absolute top-0 right-0 w-10 h-10 flex items-center justify-center cursor-pointer" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false" (click)="closeModal()">
            <div class="w-5 h-5 bg-[#b71c1c] rounded flex items-center justify-center drop-3d opacity-85">
              <i class="fa-solid fa-xmark inline-block text-white text-[10px] one-time-animation" [ngClass]="mouseEnter ? 'fa-swing' : ''"></i>
            </div>
          </button>

          <span class="emoji w-14 h-14 text-center text-5xl text-shadow-3d">
            @if (modalData.icon.startsWith('/')) {
              <img width="48" height="48" class="mx-auto drop-3d" alt="" [src]="modalData.icon">
            } @else { {{ modalData.icon }} }
          </span>
          <h3 class="text-base md:text-xl font-bold tracking-wide text-shadow-3d mb-4 pt-4 md:pt-5">{{ modalData.title }}</h3>          
          <p class="text-base/7 md:text-lg/8 tracking-wider whitespace-pre-wrap text-[var(--chinese-silver)]">{{ modalData.subtitle }}</p>
          
          <div class="flex justify-between gap-4 mt-8">
            <button type="button" (click)="confirm()" class="text-sm md:text-base font-medium w-1/2 text-[var(--jet)] bg-white hover:bg-[var(--jet-light)] py-3 px-4 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] hover:text-white rounded-lg cursor-pointer transition-all duration-200">
              {{ modalData.confirmText }}
            </button>

            <button type="button" (click)="cancel()" class="text-sm md:text-base font-medium w-1/2 text-white bg-[var(--jet)] hover:bg-[var(--jet-light)] py-3 px-4 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] rounded-lg cursor-pointer transition-all duration-200">
              {{ modalData.cancelText }}
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
}