<div class="w-auto sm:w-auto lg:w-lg p-5 bg-[var(--flame)] border border-white rounded-lg cursor-default text-center text-white shadow-3d">
    <h1 class="emoji text-6xl text-shadow-3d py-2">❗🤕</h1>
    <p class="mt-5 mb-2 text-lg lg:text-2xl font-normal">Ha ocurrido un error inesperado</p>
    <p class="mb-5 text-sm lg:text-lg text-[var(--chinese-silver)]">Por favor, inténtalo más tarde <span class="emoji relative top-[-0.150em] text-sm text-shadow-3d">🔃</span></p>

    <p class="w-full text-xs lg:text-sm font-medium text-center tracking-wider mt-8">
        Vuelve a la <a [routerLink]="['/main-menu']" class="text-[var(--cobalt-blue)] hover:underline">página principal</a><span class="emoji relative top-[-0.150em] ml-3 text-shadow-3d">🏠</span>
    </p>
</div>