<div class="w-full max-w-md p-5 bg-[var(--flame)] text-white border border-white rounded-lg shadow-3d cursor-default">
    <h5 class="text-lg sm:text-lg lg:text-2xl font-black text-center leading-8 tracking-wider text-shadow-3d mb-2"><span class="emoji text-lg">🛠️</span> Partida personalizada</h5>  
    <form class="w-full max-w-sm space-y-4 border-t-1 border-dashed pt-2 mt-1" action="#">
        <div class="mb-2">
            <label class="block text-sm sm:text-sm lg:text-base xl:text-lg mb-1" for="num-of-Q">Cantidad de preguntas:</label>
            <input type="number" class="w-full max-h-[45px] text-base text-[var(--jet)] appearance-none bg-white border border-b-4 border-[var(--jet-dark)] rounded py-2 px-3 leading-normal focus:outline-none focus:shadow-outline" id="num-of-Q" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" step="5" max="50" min="0">
        </div>
        <div class="mb-2">
            <label class="block text-sm sm:text-sm lg:text-base xl:text-lg mb-1" for="type-of-Q">Tipo de preguntas:</label>
            <select class="w-full h-[45px] text-base text-[var(--jet)] bg-white border border-b-4 border-[var(--jet-dark)] hover:bg-gray-200 hover:border-[var(--jet-light)] rounded py-2 px-3 leading-normal cursor-pointer transition-all duration-100 ease-linear focus:outline-none focus:shadow-outline" id="type-of-Q" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                <option class="bg-white" value="" textContent="Aleatorias" selected>Aleatorias</option>
                <option class="bg-white" value="multiple">Opción múltiple</option>
                <option class="bg-white" value="boolean">Verdadero / Falso</option>
            </select>
        </div>
        <div class="mb-2">
            <label class="block text-sm sm:text-sm lg:text-base xl:text-lg mb-1" for="cat-of-Q">Categoría:</label>
            <select class="w-full h-[45px] text-base text-[var(--jet)] bg-white border border-b-4 border-[var(--jet-dark)] hover:bg-gray-200 hover:border-[var(--jet-light)] rounded py-2 px-3 leading-normal cursor-pointer transition-all duration-100 ease-linear focus:outline-none focus:shadow-outline" id="cat-of-Q" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                <option value="0" [innerHTML]="'Cualquiera'" selected>Cualquiera</option>
                @for (value of categories$; track value.id) {
                    <option class="bg-white" [value]="value.id">{{value.name}}</option>
                }
            </select>
        </div>
        <div class="mb-2">
            <label class="block text-sm sm:text-sm lg:text-base xl:text-lg mb-1" for="diff-of-Q">Dificultad:</label>
            <select class="w-full h-[45px] text-base text-[var(--jet)] bg-white border border-b-4 border-[var(--jet-dark)] hover:bg-gray-200 hover:border-[var(--jet-light)] rounded py-2 px-3 leading-normal cursor-pointer transition-all duration-100 ease-linear focus:outline-none focus:shadow-outline" id="diff-of-Q" [(ngModel)]="difficulty" [ngModelOptions]="{standalone: true}">
                <option class="bg-white" value="" [innerHTML]="'Aleatoria'" selected>Aleatoria</option>
                <option class="bg-white" value="easy">Fácil</option>
                <option class="bg-white" value="medium">Media</option>
                <option class="bg-white" value="hard">Difícil</option>
            </select>
        </div>

        <button (click)="setParams()" [disabled]="amount === 0 || amount === null" type="submit" class="w-full bg-[var(--jet)] hover:bg-[var(--jet-light)] text-xs sm:text-xs md:text-sm lg:text-base font-bold py-3 px-4 mt-3 rounded-lg cursor-pointer border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] disabled:bg-[#5c5c5c] hover:disabled:bg-[#5c5c5c] hover:disabled:border-[var(--jet-dark)] disabled:text-[#b0b0b0] disabled:cursor-default disabled:shadow-2xl transition-all duration-200 ease-in-out"
            (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false"><i class="fa-solid fa-play one-time-animation mr-3 disabled:text-gray-500"  [ngClass]="mouseEnter && amount > 0 ? 'fa-shake' : ''" ></i>Iniciar
        </button>
        <p class="w-full text-xs font-medium text-center tracking-wider text-[var(--chinese-silver)] mt-1">O vuelve a la <a [href]="['main-menu']" class="text-[var(--cobalt-blue)] hover:underline">página principal</a><span class="emoji relative top-[-0.150em] ml-1 text-shadow-3d">🏠</span></p>
    </form>
</div>